<form>
    <div class="form-group">
        <div class="input-grp">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Ваша почта">
            <i class="fas fa-envelope"></i>
        </div>
    </div>
    <div class="form-group">
        <div class="input-grp">
            <input type="text" class="form-control" id="Name" placeholder="Ваше имяы">
            <i class="fas fa-user"></i>
        </div>
    </div>
    <div class="form-group">
        <div class="input-grp">
            <input type="phone" class="form-control" id="phone" placeholder="+38(071)071-071-1">
            <i class="fas fa-phone"></i>
        </div>
    </div>
    <div class="form-group">
        <div class="input-grp">
            <input type="text" class="form-control" id="message" placeholder="Ваше сообщение">
            <i class="fas fa-pen"></i>
        </div>
    </div>
    <button type="submit" class="submit-btn">Отправить</button>
</form>