<div class="map-wrapper">
    <div class="map">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A79628300e605f252ce17fee5d3e70ba4f56e84e848fad5447474ea58c2ac8b42&amp;source=constructor" width="1090" height="720" frameborder="0"></iframe>
    </div>
    <div class="contacts">
        <div class="item">
            <div class="icon"><i class="fas fa-mobile-alt"></i></div>
            <div class="text-wrapper">
                <div class="title">Телефон</div>
                <div class="text">+7 966 191 00 08</div>
            </div>
        </div>
        <div class="item">
            <div class="icon"><i class="far fa-envelope"></i></div>
            <div class="text-wrapper">
                <div class="title">Почта</div>
                <div class="text">info@btllc.ru
                    support@btllc.ru</div>
            </div>
        </div>
        <div class="item">
            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
            <div class="text-wrapper">
                <div class="title">Адрес</div>
                <div class="text">ООО "БЛОКЧЕЙН ТЕХНОЛОГИИ" ОГРН: 1187746820601 ИНН: 9723065045 109089 Москва, Угрешская 2с1 407</div>
            </div>
        </div>
    </div>
</div>