@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('Roboto-thin.ttf') format('ttf'), url('Roboto-thin.woff') format('woff'), url('Roboto-thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('Roboto-thinitalic.ttf') format('ttf'), url('Roboto-thinitalic.woff') format('woff'), url('Roboto-thinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto ExtraLight'), local('Roboto-ExtraLight'), url('Roboto-extralight.ttf') format('ttf'), url('Roboto-extralight.woff') format('woff'), url('Roboto-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto ExtraLight Italic'), local('Roboto-ExtraLightItalic'), url('Roboto-extralightitalic.ttf') format('ttf'), url('Roboto-extralightitalic.woff') format('woff'), url('Roboto-extralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('Roboto-light.ttf') format('ttf'), url('Roboto-light.woff') format('woff'), url('Roboto-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('Roboto-lightitalic.ttf') format('ttf'), url('Roboto-lightitalic.woff') format('woff'), url('Roboto-lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'), url('Roboto-regular.ttf') format('ttf'), url('Roboto-regular.woff') format('woff'), url('Roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('Roboto-italic.ttf') format('ttf'), url('Roboto-italic.woff') format('woff'), url('Roboto-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('Roboto-medium.ttf') format('ttf'), url('Roboto-medium.woff') format('woff'), url('Roboto-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('Roboto-mediumitalic.ttf') format('ttf'), url('Roboto-mediumitalic.woff') format('woff'), url('Roboto-mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto SemiBold'), local('Roboto-SemiBold'), url('Roboto-semibold.ttf') format('ttf'), url('Roboto-semibold.woff') format('woff'), url('Roboto-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto SemiBold Italic'), local('Roboto-SemiBoldItalic'), url('Roboto-semibolditalic.ttf') format('ttf'), url('Roboto-semibolditalic.woff') format('woff'), url('Roboto-semibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('Roboto-bold.ttf') format('ttf'), url('Roboto-bold.woff') format('woff'), url('Roboto-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('Roboto-bolditalic.ttf') format('ttf'), url('Roboto-bolditalic.woff') format('woff'), url('Roboto-bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto ExtraBold'), local('Roboto-ExtraBold'), url('Roboto-extrabold.ttf') format('ttf'), url('Roboto-extrabold.woff') format('woff'), url('Roboto-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto ExtraBold Italic'), local('Roboto-ExtraBoldItalic'), url('Roboto-extrabolditalic.ttf') format('ttf'), url('Roboto-extrabolditalic.woff') format('woff'), url('Roboto-extrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('Roboto-black.ttf') format('ttf'), url('Roboto-black.woff') format('woff'), url('Roboto-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('Roboto-blackitalic.ttf') format('ttf'), url('Roboto-blackitalic.woff') format('woff'), url('Roboto-blackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
