
<div class="news-wrapper">
    <div class="news-big">
        <div class="date">Дата</div>
        <div class="title">Заголовок</div>
        <div class="user">Username</div>
        <img src="/assets/img/test-img.jpg" alt="image">
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, non facilis. Impedit velit nemo in quas id, molestiae vel deleniti autem doloremque sit atque cumque ipsum inventore distinctio eaque aperiam ad assumenda, facilis quo dolorem quasi odit maiores sequi! Sit explicabo pariatur numquam sunt quidem ratione dignissimos eveniet consectetur modi.</div>
    </div>
    <div class="news-list">
        <div class="search">
            <input type="search" class="input search">
            <img src="/assets/fonts/unicons/search-green.svg" alt="search">
        </div>
        <div class="title">Популярные посты</div>
        <ul class="items">
            <li class="item">
                <img class="image" src="/assets/img/test-img.jpg" alt="image">
                <div class="text">
                    <p class="title">Заголовок</p>
                    <div class="date">
                        <img src="/assets/fonts/unicons/clock.svg" alt="image">
                        Дата</div>
                </div>
            </li>
            <li class="item">
                <img class="image" src="/assets/img/test-img.jpg" alt="image">
                <div class="text">
                    <p class="title">Заголовок</p>
                    <div class="date">
                        <img src="/assets/fonts/unicons/clock.svg" alt="image">
                        Дата</div>
                </div>
            </li>
            <li class="item">
                <img class="image" src="/assets/img/test-img.jpg" alt="image">
                <div class="text">
                    <p class="title">Заголовок</p>
                    <div class="date">
                        <img src="/assets/fonts/unicons/clock.svg" alt="image">
                        Дата</div>
                </div>
            </li>
        </ul>
    </div>
</div>