<div class="not-found-wrapper ">
    <div class="not-found">404</div>
    <div class="title">страница</div>
    <div class="title-green">не найдена</div>
    <div class="description">Похоже, что-то пошло не так. Возможно, вы ввели неверный запрос в браузере, или статья снята с публикации?</div>
    <a href="/">На главную</a>
</div>