.main.contacts{
    /* max-height: 1000px ; */
    height: auto;
}

.main .map iframe{
    /* width: 565px; */
    width: 100% !important;
    margin: 10px 0 ;
    height: 505px;
}

.main .contacts-form {
    width: 600px;
    /* height: 810px; */
    align-items: center;
}

.main .map-wrapper {
    margin-right: 25px;
    width: 100%;
    height: 920px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}

.main .map-wrapper .map {
    width: 100%;
    /* margin-left: 15px; */
}

.main .map-wrapper .contacts {
    height: 505px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.main .map-wrapper .contacts .item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.main .map-wrapper .contacts .item .icon {
    margin-right: 20px;
    color: #0AC775;
    font-size: 30px;
}

.main .map-wrapper .contacts .item .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.main .map-wrapper .contacts .item .text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}