.footer-wrapper {
    width: 100%;
    bottom: 0;
    right: 0;

}

.footer .main{
    flex-direction: row;
    min-height: 500px;
}

.footer {
    /* padding-left: 350px; */
    /* padding-right: 350px; */
    padding: 0 30px;
    padding-top: 80px;
    background-color: #141D28;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
   
}
.footer .main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 420px;
}

.footer .sections {
    text-transform: uppercase;
    color: #0AC775;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 4.8px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.3s;
}



.footer .sections .links {
    font-family: 'MONTSERRAT';
    text-transform: none;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-top: 10px;
    padding-top: 50px;
    margin-left: -10px;
    /* необходимо для того, что-бы выровнять визуально по оси Y */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

}

.footer .sections .links a {
    text-decoration: none;
    font-family: 'MONTSERRAT';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    transition: 0.3s;
}

.footer .sections .links a:hover {
    text-decoration: none;
    color: #0AC775;
}

.footer .sections .img-wrapper {
    width: 30px;
    height: 30px;
}

.footer .sections .items {
    letter-spacing: 0;
    text-transform: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-top: 50px;
}

.footer .items .item {
    display: flex;
    flex-direction: row;
}
.footer .items .item a {
    text-decoration: none;
    color: inherit;
}

.footer .items .item .wrapper {
    padding-left: 10px;
    color: #fff
}

.footer .items .item .wrapper .title {
    font-size: larger;
    font-weight: bold;
}

.footer .sections .items .footer-img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    background-color: #233142;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 10px;
}

.footer-bottom .text {
    font-family: 'MONTSERRAT';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    padding-top: 15px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}