body {
    overflow-y: scroll;
}

.header-wrapper {
    width: 100%;
}

.header {
    padding-left: 135px;
    padding-right: 135px;
    position: fixed;
    top: 40px;
    background-color: #141D28;
    opacity: 0.9;
    flex-direction: row;
    height: 130px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

.header.scrolling{
    padding-left: 135px;
    padding-right: 135px;
    position: fixed;
    background-color: #141D28;
    top: 0;
    opacity: 1;
    flex-direction: row;
    height: 130px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

.header.absolute {
    position: relative;
    height: 40px;
    left: 0;
    top: 0;
}

.header .sections {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header .sections .section {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.header .sections .section.links .icon-wrapper.in:hover{
    text-decoration: none;
   
}
.header .sections .section.links .icon-wrapper.yt{
    margin-left: 20px;
    margin-top: 5px;  /* визуально выравнивает обе svg картинки по оси x*/
}
.header .sections .section.links .icon-wrapper.yt:hover{
    text-decoration: none;
    
}


.header .sections .section .link a{
    text-decoration: none;
    color: #fff;
}

.header .sections .icon-wrapper{
    width: 20px;
    cursor:pointer;
}

.header .section:hover{
    color: #0AC775;
}

.header .sections .section.active {
    color: #0AC775;
}

.header .sections .link {
    outline: none;
    text-decoration: none;
    color: inherit;

}

.header .top-sections {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.header .top-sections .section {
    display: flex;
    align-items: center;
    flex-direction: row;
}



.menu.fixed-top {
    position: fixed !important;
    top: 0 !important;
    margin: 0 !important;
}

