@import "../css/media.css";
@import "../fonts/Roboto.css";
@import "../fonts/Montserrat.css";
@import "../fonts/Poppins.css";
@import "./breadcurmbs.css";
@import "./header.css";
@import "./margins_paddings.css";
@import "./width_utilities.css";
@import "./footer.css";
@import "./news.css";
@import "./slider.css";
@import "./about.css";
@import "./products.css";
@import "./contacts.css";
@import "./form.css";
@import "./loader.css";
@import "./modals.css";
@import "./sidenav.css";
@import "./404.css";

html {
    overflow-y: scroll;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}

:root body {
    position: absolute;
}

body {
    width: 100vw;
    overflow: hidden;
}
.main {
    width: 1200px;
    min-height: 600px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.3s;
}
