@import "../fonts/Roboto.css";
@import "../fonts/Montserrat.css";
@import "../fonts/Poppins.css";
@import "./breadcurmbs.css";
@import "./header.css";
@import "./margins_paddings.css";
@import "./width_utilities.css";
@import "./footer.css";
@import "./news.css";
@import "./slider.css";
@import "./about.css";
@import "./products.css";
@import "./contacts.css";
@import "./form.css";


html {
    overflow-y: scroll;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}

:root body {
    position: absolute;
}

body {
    width: 100vw;
    overflow: hidden;
}