.loader{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.99);
z-index: 13000;
height: 100%;
}

.loader-image {
    width: 256px;
    height: 256px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/loader.svg') no-repeat 50% 50% transparent;
    margin: -100px 0 0 -100px;
}