@media(max-width: 1440px) {
    .header .sections .section{
        display: none !important;
    }
    .header-wrapper .header.absolute .sections .section {
        display: flex !important;
    }


    .main{
        max-width: 990px !important;
        
    }
}


@media(max-width: 990px) {

    .header-wrapper .header.absolute .sections  {
        flex-direction: column;
    }
    .header.absolute{
        height: 80px !important;
    }



    .main, .modal.login label, .modal.registration label{
        max-width: 750px !important;
        /* height: 1500px !important; */
    }
    .main .map iframe{
        width: 750px !important;
        height: 505px;
    }
    .main .map-wrapper{
        flex-direction: column;
        
    }
    .main .map-wrapper .map {
        margin-bottom: 15px;
    }
    .main .map-wrapper .contacts{
        width: 750px;
    }
    .main .map-wrapper .contacts .item {
        width: 100%;
        /* margin: 10px 0 ; */
        flex-direction: column;
        align-items: center;
    }
    .main .map-wrapper .contacts .item .text-wrapper{
        text-align: center;
    }
    .main .map-wrapper .contacts .item {
        width: 100%;
        flex-direction: column !important;
        align-items: center !important;
    }
    .main .map-wrapper .contacts .item .text-wrapper{
        text-align: center;
    }
    
    .main .contacts-form {
        width: 750px !important;
    }


    .main .news-wrapper {
        flex-direction: column;
    }
    .main .news-wrapper .news-big{
        width: 90% !important;
        margin: 0;
    }
    .main .news-wrapper .news-list{
        width: 100%;
        margin: 0;
        align-items: center;
    }



    .main .about-us {
        flex-direction: column-reverse;
    }
    .main .about-us .text-wrapper {
        width: 100%;
    }
    .main .about-us .img-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }


    .main .products-wrapper .items .item {
        width: 48%;
    }
}


@media(max-width: 768px) {



    .main, .modal.login label, .modal.registration label{
        /* max-width: 750px !important; */
        width: 560px !important;
    }
    .main .map-wrapper{
        flex-direction: column !important;
        
    }
    
    .main .map-wrapper .map {
        margin-bottom: 15px;
    }
    .main .map iframe{
        width: 500px !important;
        height: 505px;
    }
    .main .map-wrapper .contacts{
        width: 90%;
    }
    
    
    .main .contacts-form {
        width: 340px !important;
    }
    .main .contacts-form  .submit-btn {
        width: 300px;
        margin-left: 15px;
    }

    .news-list .items  {
        width: 100%;
    }
    .news-list .items .item {
        width: 100% !important;
        align-items: center;
        justify-content: start;
    }
    .news-list .items .item a {
        align-self: flex-start;
    }
    .news-list .items .item .image {
        width: 150px !important;
        height: 150px !important;
    }
    .news-list .items .item .text .title {
        padding: 0;
    }


    .main .products-wrapper .items .item {
        width: 85%;
    }

}

@media(max-width: 576px) {



    .main, .modal.login label, .modal.registration label{
        width: 330px !important;
    }
    .modal.login label, .modal.registration label {
        left: calc(50% - 165px) !important;
    }

    .main .map-wrapper .map {
        margin-bottom: 15px;
    }
    .main .map-wrapper .contacts{
        width: 565px;
    }
    .main .map-wrapper .contacts .item {
        width: 100%;
        /* margin: 10px 0 ; */
        flex-direction: column;
        align-items: center;
    }
    .main .map-wrapper .contacts .item .text-wrapper{
        text-align: center;
    }
    
    .main .map-wrapper .contacts-form {
        width: 340px;
    }


    .main .map-wrapper{
        flex-direction: column !important;
        
    }
    
    .main .map-wrapper .map {
        margin-bottom: 15px;
    }
    .main .map iframe{
        width: 300px !important;
        height: 505px;
    }
    .main .map-wrapper .contacts{
        width: 90%;
    }
    .main .map-wrapper .contacts .item {
        width: 100%;
        flex-direction: column !important;
        align-items: center !important;
    }
    .main .map-wrapper .contacts .item .text-wrapper{
        text-align: center;
    }
    
    .main .contacts-form {
        width: 300px !important;
    }
    .main .contacts-form  .submit-btn {
        width: 250px;
        margin-left: 15px;
    }
}