.modal {
    z-index: 9;
    display: none;
    transition: 0.4s;
}

.modal.show {
    display: block;
    background-color: rgba(32, 30, 30, 0.7);
    transition: 0.4s;
}

.modal .search-block {
    min-height: 130px;
    background-color: #fff;
}

.modal .search-block .products {
    margin: 0;
    padding: 0;
}

.modal .search-block .search-form {

    margin-top: 40px;
    padding: 20px 0;
    background-color: #fff;
}

.modal .search-block .search-form label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .search-block .search-form label .search-input {
    width: 100%;
    border: none;
    padding-left: 30px;
}

.modal .search-block .search-form label .search-input:focus {
    outline: none;
    border: none;
}

.modal .search-block .search-form label .search-button {
    color: #0ac775;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #fff;
}

.modal .search-block .search-form label .search-button:focus {
    border: none;
    outline: none;
}

.modal .search-block .search-form label .search-button i {
    font-size: 20px;
}

.modal .search-block .results .search-result {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin-left: 10px;
}

.modal .search-block .results .search-image {
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

.modal .search-block .results .search-title {
    font-family: Montserrat;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    color: black;
    letter-spacing: 0.02em;
}

.modal .search-block .results a {
    text-decoration: none;
}

.modal .search-block .results .search-title:hover {
    color: #0ac775;
    text-decoration: none;
    outline: none;
    border: none
}

.modal.login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 500px;
    background-color: #fff;
    transition: 0.4s;

}

.modal.login.show {
    display: block;
    background-color: rgba(32, 30, 30, 0.7);
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.modal .login-form label {
    position: fixed;
    top: 100px;
    left: calc(50% - 300px);
    width: 600px;
    height: 400px;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.modal .login-form label input {
    margin-bottom: 20px;
    width: 90%;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.modal .login-form label input:focus{
    border: none;
    outline: none;
}

.modal .login-form .title {
    font-size: 2em;
    background: linear-gradient(135deg, #0ac775 20%, #339966 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 0.3em 0.6em;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 46px;
}

.modal .login-form .login-button {
    width: 100px;
    height: 50px;
    border: 1px solid #0ac775;
    background-color: #0ac775;
    transition: 0.5s;
}
.modal .login-form .login-button:hover{
    background-color: #fff;
    transition: 0.5s;
}

.login-info {
    z-index: 9999;
    display: none;
    width: 300px;
    height: 80px;
    position: fixed;
    top: 30px;
    right: 30px;
    transition: 0.3s;
}

.login-info.error {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
}

.login-info.success {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
}

.login-info.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(62, 91, 136);
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
}




.modal.registration {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 500px;
    background-color: #fff;
    transition: 0.4s;

}

.modal.registration.show {
    display: block;
    background-color: rgba(32, 30, 30, 0.7);
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.modal .registration-form label {
    position: fixed;
    top: 100px;
    left: calc(50% - 300px);
    width: 600px;
    height: 400px;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.modal .registration-form label input {
    margin-bottom: 20px;
    width: 90%;
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.modal .registration-form label input:focus{
    border: none;
    outline: none;
}

.modal .registration-form .title {
    font-size: 2em;
    background: linear-gradient(135deg, #0ac775 20%, #339966 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 0.3em 0.6em;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 46px;
}

.modal .registration-form .registration-button {
    width: 250px;
    height: 50px;
    border: 1px solid #0ac775;
    background-color: #0ac775;
    transition: 0.5s;
}
.modal .registration-form .registration-button:hover{
    background-color: #fff;
    transition: 0.5s;
}

.registration-info {
    z-index: 9999;
    display: none;
    width: 300px;
    height: 80px;
    position: fixed;
    top: 30px;
    right: 30px;
    transition: 0.3s;
}

.registration-info.error {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
}

.registration-info.success {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
}

.registration-info.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(62, 91, 136);
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
}