.news-wrapper {
    padding-left: 135px;
    padding-right: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*  left side */
.news-big {
    margin-top: 50px;
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.news-big img {
    width: 950px;
    height: 700px;
    margin-bottom: 30px;
}

.news-big .date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #5C6F87;
}

.news-big .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
}

.news-big .user {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.news-big .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
}
.news-big .text .link-news:hover{
    text-decoration: none;
    outline: none;
    border: none;
}

/* right side */

.news-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.news-list .search {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-list .search .input {
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 70px;
}

.news-list .search .input:focus {
    outline: none;
}

.news-list .search img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.news-list .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #141D28;
}

.news-list .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    justify-content: space-between;
}

.news-list .items .item {

    width: 530px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.news-list .items .item .image {
    cursor: pointer;
    width: 250px;
    height: 210px;
}

.news-list .items .item .text {
    width: 100%;
    cursor: pointer;
    display: flex;
    margin-right: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.news-list .items .item .text .title {
    align-self: flex-start;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #233142;
}
.news-list .items .item .text .title:hover{
    text-decoration: none;
    outline: none;
    border:none;
    
}

.news-list .items .item .text .date {
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #5C6F87;
    align-self: flex-start;
}

.news-list .items .item .text .date img {
    width: 20px;
    height: 20px;
}

.news .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    border-left: 5px solid #0AC775;

}

.news {
    margin: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.news .title {
    margin-bottom: 110px;
}

.news .title .green {
    color: #0AC775;
    margin-left: 20px;
}

.news .title .black {
    color: #141D28;
}

.news .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.news .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 70px;
    cursor: pointer;
}

.news .items .item a {
    display: flex;
    flex-direction: column;
    align-content: inherit;
    justify-content: center;
    text-decoration: none;
}

.news .items .item .image img {
    max-width: 530px;
    max-height: 400px;
    margin-bottom: 30px;
}

.news .items .item a .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #233142;
    border: none;
    margin: 0;
}

.news .items .item a .date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #233142;
}

.news .button {
    width: 250px;
    height: 60px;
    border: 1px solid #0AC775;
    color: #141D28;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
}

.post-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.post-wrapper img {
    width: 600px;
    height: 400px;
}

.post-wrapper .text{
    margin-right: 135px;
    margin-left: 135px;
}
.post-wrapper .date{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

#news-main img {
    width: 500px;
    height: 400px;
    margin-right: 20px;
}