.products {
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 100px;
    width: 100%;
    max-height: 990px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.products .title {
    border-left: 5px solid #0AC775;
    margin-bottom: 100px;
    padding-left: 25px;
    color: #141D28;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
}

.products .title .green {
    color: #0AC775;
    margin-left: 20px;
}

.products .main {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #233142;
    padding-left: 135px;
    padding-right: 135px;
    height: 650px;
    width: 1920px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products .main .product {
    width: 20%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.products .main .product .icon {
    margin-bottom: 40px;
}

.products .main .product .icon i {
    font-size: 36px;
    color: #0ac775;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.2s;
}

.products .main .product .icon i:hover {
    color: #fff;
}

.products .text-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.products .product .text-wrapper .title {
    margin: 0 0 10px;
    padding: 0;
    border: none;
    font-family: Montserrat;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.products .text-wrapper .title:hover {
    color: #0ac775;
}

.products .text-wrapper .text {
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.products-wrapper {
    padding-left: 135px;
    padding-right: 135px;
}

.products-wrapper .items {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.products-wrapper .items .item {
    border-color: transparent;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    height: 710px;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-between;
    /* margin-right: 10px; */
    margin-bottom: 35px;
}


.products-wrapper .items .item img {
    position: relative;
    max-height: 400px;
    width: 100%;
    z-index: 0;
}

.products-wrapper .items .item img:hover{
    opacity: .5;
    background-color: rgba(0, 0, 0, .5);
}


.products-wrapper .items .item a {
    text-decoration: none;
}

.products-wrapper .items .item .title {
    text-align: center;
    align-self: center;
    margin-top: 60px;
    margin-bottom: 50px;
    color: #233142;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
}

.products-wrapper .items .item .line {
    width: 40%;
    align-self: center;
    border-bottom: 5px solid #0AC775;
    margin-bottom: 50px;
}

.products-wrapper .items .item .text {
    color: #233142;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 80px;
    align-self: center;
}