<div class="about-us">
    <div class="text-wrapper">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, eius quo sunt maiores nihil laudantium quis, voluptatem, eum nostrum incidunt consequatur odio error cum? Atque rerum consectetur deleniti temporibus quia qui illo alias, voluptate iusto veritatis quidem magnam, officia cumque suscipit aliquid? Adipisci reiciendis sint saepe quaerat neque eaque, quis, corrupti dolore nostrum nisi incidunt distinctio dicta ipsum dignissimos. Accusantium ipsam inventore, odit fugit placeat ad reiciendis quia eaque omnis facilis expedita consequatur distinctio fugiat quae perspiciatis vero dolorem optio deleniti minus, aut voluptatibus saepe ullam blanditiis. Minima id, animi sit assumenda, accusamus in officia quibusdam, molestias accusantium ea voluptatum.
    </div>
    <div class="img-wrapper">
        <img src="/assets/img/test-img.jpg" alt="">
    </div>
</div>