<script>
    //Пока не придумал, как управлять этим по-другому. Пока остаётся в инлайн-скрипте
    document.addEventListener("DOMContentLoaded", function (event) {
        const background = document.getElementById('breadcrumbs-wrapper')
        background.style.background = 'url(<%= data %>) center no-repeat rgba(0, 0, 0, .5) fixed ';
    });
</script>
<div class="breadcrumbs-layout">
    <div class="breadcrumbs-wrapper" id='breadcrumbs-wrapper'>
        <div class="title">Тайтл </div>
        <div class="breadcrumbs">
            <a href="#">Главная</a> / <a class="active" href="#">Услуги</a>
        </div>
    </div>
</div>