<div class="footer-wrapper">
    <div class="footer">
        <div class="main">
            <div class="sections">Документация
                <div class="links">
                    <a href="/user-agreement"><img class="img-wrapper" src="/assets/fonts/unicons/angle-right.svg"
                            alt="angle-right">Пользовательское соглашение</a>
                    <a href="/privacy-policy"><img class="img-wrapper" src="/assets/fonts/unicons/angle-right.svg"
                            alt="angle-right">Политика
                        конфиденциальности</a>
                    <a href="#" id="login-modal-trigger"><img class="img-wrapper"
                            src="/assets/fonts/unicons/angle-right.svg" alt="angle-right">Логин</a>
                    <a href="#" id="registration-modal-trigger"><img class="img-wrapper"
                            src="/assets/fonts/unicons/angle-right.svg" alt="angle-right">Регистрация</a>
                </div>
            </div>
            <div class="sections">Свидетельства
                <div class="links">
                    <a href="/about"><img class="img-wrapper" src="/assets/fonts/unicons/angle-right.svg"
                            alt="angle-right">ОАЭ</a>
                </div>
            </div>
            <div class="sections">Контакты
                <ul class="items">
                    <li class="item"><img class="footer-img" src="/assets/fonts/unicons/map-marker.svg" alt="">
                        <div class="wrapper">
                            <p class="title">
                                Адрес:<br />
                            </p>
                            <p class="text">
                                <a
                                    href="https://yandex.ua/maps/213/moscow/?from=api-maps&ll=37.683639%2C55.711725&mode=usermaps&origin=jsapi_2_1_78&um=constructor%3A79628300e605f252ce17fee5d3e70ba4f56e84e848fad5447474ea58c2ac8b42&z=18">
                                    г. Москва, ул. Угрешская, д. 2</a>

                            </p>
                        </div>
                    </li>
                    <li class="item"><img class="footer-img" src="/assets/fonts/unicons/phone-green.svg" alt="">
                        <div class="wrapper">
                            <p class="title">
                                Тел.:<br />
                            </p>
                            <p class="text">
                                <a href="tel: +7 966 191 00 08">+7 966 191 00 08</a>
                            </p>
                        </div>
                    </li>
                    <li class="item"><img class="footer-img" src="/assets/fonts/unicons/envelope.svg" alt="">
                        <div class="wrapper">
                            <p class="title">

                                Почта:<br />
                            </p>
                            <p class="text">
                                <a href="mailto:info@btllc.ru">info@btllc.ru</a>
                            </p>
                        </div>
                    </li>
                    <li class="item"><img class="footer-img" src="/assets/fonts/unicons/envelope.svg" alt="">
                        <div class="wrapper">
                            <p class="title">
                                Почта:<br />
                            </p>
                            <p class="text">
                                <a href="mailto:support@btllc.ru">support@btllc.ru</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <p class="text">COPYRIGHT © 2020 BLOCKCHAIN TECHNOLOGIES LLC.</p>
    </div>
</div>