<div class="footer-wrapper">
    <div class="footer">
        <div class="main">
            <div class="sections">Документация
                <div class="links">
                    <a href="#"><img class="img-wrapper" src="/assets/fonts/unicons/angle-right.svg"
                            alt="angle-right">Пользовательское соглашение</a>
                    <a href="#"><img class="img-wrapper" src="/assets/fonts/unicons/angle-right.svg" alt="angle-right">Политика
                        конфиденциальности</a>
                    <a href="#"id="login-modal-trigger"><img class="img-wrapper" src="/assets/fonts/unicons/angle-right.svg" alt="angle-right" >Логин</a>
                    <a href="#"id="registration-modal-trigger"><img class="img-wrapper" src="/assets/fonts/unicons/angle-right.svg" alt="angle-right" >Регистрация</a>
                </div>
            </div>
            <div class="sections">Свидетельства
                <div class="links">
                    <a href="#"><img class="img-wrapper" src="/assets/fonts/unicons/angle-right.svg" alt="angle-right">ОАЭ</a>
                </div>
            </div>
            <div class="sections">Контакты
                <ul class="items">
                    <li class="item"><img class="footer-img" src="/assets/fonts/unicons/map-marker.svg" alt="">
                        <div class="wrapper">
                            <p class="title">
                                Адрес:<br />
                            </p>
                            <p class="text">
                                г. Москва, ул. Угрешская, д. 2
                            </p>
                        </div>
                    </li>
                    <li class="item"><img class="footer-img" src="/assets/fonts/unicons/phone-green.svg" alt="">
                        <div class="wrapper">
                            <p class="title">
                                Тел.:<br />
                            </p>
                            <p class="text">
                                +7 966 191 00 08
                            </p>
                        </div>
                    </li>
                    <li class="item"><img class="footer-img" src="/assets/fonts/unicons/envelope.svg" alt="">
                        <div class="wrapper">
                            <p class="title">
                                Почта:<br />
                            </p>
                            <p class="text">
                                info@btllc.ru
                            </p>
                        </div>
                    </li>
                    <li class="item"><img class="footer-img" src="/assets/fonts/unicons/envelope.svg" alt="">
                        <div class="wrapper">
                            <p class="title">
                                Почта:<br />
                            </p>
                            <p class="text">
                                support@btllc.ru
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="footer-bottom">
    <p class="text">COPYRIGHT © 2020 BLOCKCHAIN TECHNOLOGIES LLC.</p>
    </div>
</div>
