<div class="login-info" id="login-info"></div>
<div class="modal-wrapper" id="login-modal-wrapper">
    <div class="modal login" role="dialog" tabindex="-1" aria-labelledby="login-modal" id="login-modal">
        <form class="login-form" id="login-form">
            <label>
                <div class="title">Войти в систему</div>
                <input type="text" class="login-input" value placeholder="Email" name="email" id="login-email">
                <input type="password" class="password-input" value  name="password" placeholder="Password" id="login-password">
                <button type="button" class="login-button" id='send-login-form'>
                    Войти
                </button>
            </label>
        </form>
</div>
</div>
</div>
</div>
