<div class="login-info" id="login-info"></div>
<div class="modal-wrapper" id="login-modal-wrapper">
    <div class="modal login" role="dialog" tabindex="-1" aria-labelledby="login-modal" id="login-modal">
        <form class="login-form" id="login-form">
            <label>
                <div class="title">Войти в систему</div>
                <input type="text" class="login-input" value placeholder="Email" name="email" id="login-email">
                <input type="password" class="password-input" value  name="password" placeholder="Password" id="login-password">
                <button type="button" class="login-button" id='send-login-form'>
                    Войти
                </button>
                
            </label>
        </form>
</div>
</div>
</div>
</div>




<div class="registration-info" id="registration-info"></div>
<div class="modal-wrapper" id="registration-modal-wrapper">
    <div class="modal registration" role="dialog" tabindex="-1" aria-labelledby="registration-modal" id="registration-modal">
        <form class="registration-form" id="registration-form">
            <label>
                <div class="title">Регистрация в системе</div>
                <input type="text" class="registration-input" value placeholder="Email" name="email" id="registration-email">
                <input type="password" class="password-input" value  name="password" placeholder="Password" id="registration-password">
                <button type="button" class="registration-button" id='send-registration-form'>
                    Зарегистрироваться
                </button>
            </label>
        </form>
</div>
</div>
</div>
</div>





<div class="modal" role="dialog" tabindex="-1" aria-labelledby="search-modal" id="search-modal">
    <div class="search-block">
        <form class="search-form" id="search-form">
            <label>
                <input type="search" class="search-input" value placeholder="Искать" id="search">
                <button type="button" class="search-button" id="get-search-results">
                    <i class="fas fa-search"></i>
                </button>
            </label>
        </form id="search-form">
        <div class="results">
        </div>
    </div>
</div>
</div>
</div>



