<!-- <div class="modal" role="dialog" tabindex="-1" aria-labelledby="search-modal" id="search-modal">
    <div class="search-block">
        <form class="search-form" id="search-form">
            <label>
                <input type="search" class="search-input" value placeholder="Искать" id="search">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </label>
        </form id="search-form">
        <div class="results">

        </div>
    </div>
</div>
</div>
</div> -->