<div id="mySidenav" class="sidenav" >
  <div class="topbar">
    <div class="close-btn" onClick="closeNav()">
      <i class="fas fa-times"></i>
    </div>
  </div>
    <a href="/about">О нас</a>
    <a href="/products">Продукты</a>
    <a href="/contacts">Контакты</a>
    <a href="/news">Новости</a>
  </div>
  
  <!-- Use any element to open the sidenav -->
  