<div class="container">
    <div class="about">
        <div class="title">
            <span class="green"> О</span>
            <span>нас</span>
        </div>
        <div class="blocks">
            <div class="image-wrapper">
                <img src="/assets/img/test-img.jpg" alt="image">
            </div>
            <div class="text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Точках
                грустный взгляд дороге своих предупредила! Раз рот что осталось предупреждал? Взобравшись семантика живет
                толку сих, не родного продолжил океана ее, необходимыми пояс рукописи рекламных послушавшись букв вдали
                строчка себя взгляд последний свой буквенных ipsum подпоясал текстов. Использовало, семь последний?</div>
        </div>
    </div>
</div>
