<div class="container">
    <div class="news">
        <div class="title">
            <span class="green">Наши</ы>
                <span class="black">новости</span>
        </div>
        <div class="items" id="news-main">
            <% news.forEach(item => { %>
                <div class="item">
                    <a href="/news/<%=item.alias%>">
                    <div class="image"><img src="<%=item.picture%>" alt="image"></div>
                    <div class="text-wrapper">
                            <span class="title"><%=item.title%></span>
                            <span class="date"><%=item.date.getDate() + '.' + (item.date.getMonth() + 1) + '.' + item.date.getFullYear()%></span>
                        </a> 
                    </div>
                    
                </div>
                <% }) %> 
        </div>
    </div>
</div>