<div class="container">
    <div class="news">
        <div class="title">
            <span class="green">Наши</ы>
                <span class="black">новости</span>
        </div>
        <div class="items" id="news-main">
            <!-- <div class="item">
                <div class="image"><img src="/assets/img/test-img.jpg" alt="image"></div>
                <a href="#">
                    <span class="title">Заголовок</span>
                    <span class="date">Дата публикации</span>
                </a>
            </div>
            <div class="item">
                <div class="image"><img src="/assets/img/test-img.jpg" alt="image"></div>
                <a href="#">
                    <span class="title">Заголовок</span>
                    <span class="date">Дата публикации</span>
                </a>
            </div>
            <div class="item">
                <div class="image"><img src="/assets/img/test-img.jpg" alt="image"></div>
                <a href="#">
                    <span class="title">Заголовок</span>
                    <span class="date">Дата публикации</span>
                </a>

            </div> -->
        </div>
        <!-- <div class="button">Посмотреть все</div> -->
    </div>
</div>