<div class="wrapper">
    <div class="products">

        <div class="title">
            <span class="green">Услуги</span>
            <span>Компании</span>
        </div>
        <div class="products-main " id="products-main">
            <div class="main">
                <% products.forEach(product => { %>
                <div class="product">
                    <div class="icon">
                        <i class="<%=icon%>"></i>
                    </div>
                    <div class="text-wrapper">
                        <a href="/products/<%=product.alias%>" class="title">
                            <div class="title"><%=product.title%></div>
                            <div class="text"><%=product.description%></div>
                        </a>
                    </div>

                </div>
                <% }) %>
            </div>

        </div>
    </div>
</div>