<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="info">
                <div class="title">
                    Визуализируем
                </div>
                <div class="title green">
                    Данные
                </div>
                <div class="text">Инновации помогают бизнесу расти и расширять горизонты своих возможностей</div>
            </div>
            <img class="slide" src="/assets/img/slide01-01.jpg" alt="img">
        </div>
        <div class="swiper-slide">
            <div class="info">
                <div class="title">
                    Создаём приложения
                </div>
                <div class="title green">
                    Блокчейн
                </div>
                <div class="text">Мы объединяем профессионалов по всему миру, чтобы расширить возможности коммуникаций благодаря цифровым технологиям</div>
            </div>
            <img class="slide" src="/assets/img/slide01-02.jpg" alt="img">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


</div>