<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="info">
                <div class="title">
                    Тайтл
                </div>
                <div class="title green">
                    Зеленый текст
                </div>
                <div class="text">Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Толку на берегу эта ты напоивший реторический меня единственное языкового пор.</div>
            </div>
            <img class="slide" src="/assets/img/test-img.jpg" alt="img">
        </div>
        <div class="swiper-slide">
            <div class="info">
                <div class="title">
                    Тайтл
                </div>
                <div class="title green">
                    Зеленый текст
                </div>
                <div class="text">Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Толку на берегу эта ты напоивший реторический меня единственное языкового пор.</div>
            </div>
            <img class="slide" src="/assets/img/test-img.jpg" alt="img">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


</div>